In [1]:
jsonRDD = sc.parallelize(("""
  {
    "id": "123",
    "name": "Katie",
    "age": 19,
    "eyeColor": "brown"
  }""",
  """{
    "id": "234",
    "name": "MIchael",
    "age": 22,
    "eyeColor": "green"
  }""",
  """{
    "id": "345",
    "name": "Simone",
    "age": 23,
    "eyeColor": "blue"
  }"""))

In [2]:
dataframe = spark.read.json(jsonRDD)

In [3]:
dataframe.createOrReplaceTempView("swimmerJSON")

In [4]:
dataframe.show()

+---+--------+---+-------+
|age|eyeColor| id|   name|
+---+--------+---+-------+
| 19|   brown|123|  Katie|
| 22|   green|234|MIchael|
| 23|    blue|345| Simone|
+---+--------+---+-------+

In [5]:
# 対象の DataFrame が小さいので.show() や .collect() で確認した
spark.sql("select * from swimmerJSON").collect()

[Row(age=19, eyeColor='brown', id='123', name='Katie'),
 Row(age=22, eyeColor='green', id='234', name='MIchael'),
 Row(age=23, eyeColor='blue', id='345', name='Simone')]

In [6]:
# 対象の DataFrame が大きい場合に必ず .show(n) .take(n) を使うこと
spark.sql("select * from swimmerJSON").show(1)

+---+--------+---+-----+
|age|eyeColor| id| name|
+---+--------+---+-----+
| 19|   brown|123|Katie|
+---+--------+---+-----+
only showing top 1 row

In [7]:
spark.sql("select * from swimmerJSON").take(1)

[Row(age=19, eyeColor='brown', id='123', name='Katie')]

In [8]:
dataframe.printSchema()

root
 |-- age: long (nullable = true)
 |-- eyeColor: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)